<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <meta http-equiv="refresh" content="1" />-->
</head>
<body>
    <h1>Pub Sub Messages</h1>
    <table>
        <thead>
            <tr th:if="${!messages.isEmpty()}">
                <th> Time Taken </th>
                <th> Answer </th>
            </tr>
            <tr>
                <th th:if="${messages.isEmpty()}"> No Messages Available  </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="message : ${messages}">
                <td><span th:text="${message.time_taken}"> Time Taken </span></td>
                <td>
                    <span th:each="answer : ${message.answer}">
                        <span th:text="${answer}"> Answer </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>